{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
<div class="col-md-6 mx-auto">
    <div class="card shadow-sm">
        <div class="card-body">

            <h3 class="text-center mb-4">Edit Profile</h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-3">
                    <label class="form-label">Roll Number</label>
                    <input type="text" name="roll_number" class="form-control"
                           value="{{ profile.roll_number }}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Department</label>
                    <input type="text" name="department" class="form-control"
                           value="{{ profile.department }}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Year of Admission</label>
                    <input type="number" name="year" class="form-control"
                           value="{{ profile.year_of_admission }}" required>
                </div>

                <div class="mb-3">
                    <label class="form-label">Profile Image</label><br>

                    {% if profile.profile_image %}
                        <img src="{{ profile.profile_image.url }}" width="120"
                             class="img-thumbnail mb-2">
                    {% endif %}

                    <input type="file" name="profile_image" class="form-control">
                </div>

                <button class="btn btn-primary w-100">Save Changes</button>

            </form>

        </div>
    </div>
</div>
{% endblock %}
