{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-sm p-4">
            <h3 class="text-center mb-3 text-primary fw-bold">Password Reset</h3>

            <p class="text-center text-muted">Enter your email to receive a password reset link.</p>

            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}

                <button type="submit" class="btn btn-primary w-100 mt-2">
                    Send Reset Link
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
