<!DOCTYPE html>
<html>

<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

    <style>
        .sidebar-link {
            padding: 8px 10px;
            border-radius: 5px;
            display: block;
            text-decoration: none;
            color: white;
        }

        .sidebar-link:hover {
            background-color: #495057;
        }

        .active-link {
            background-color: #0d6efd;
            border-radius: 5px;
        }
    </style>

</head>

<body>

    <div class="d-flex">

        <!-- this is sidebar -->
        <div class="bg-dark text-white p-3" style="width: 230px; min-height: 100vh; position: fixed;">
            <h4 class="mb-4">Admin Panel</h4>

            <a href="/admin-panel/dashboard/"
                class="sidebar-link {% if request.path == '/admin-panel/dashboard/' %}active-link{% endif %}">
                🏠 Dashboard
            </a>

            <a href="/admin-panel/students/"
                class="sidebar-link {% if '/admin-panel/students/' in request.path %}active-link{% endif %}">
                👥 Manage Students
            </a>

            <a href="/admin-panel/courses/"
                class="sidebar-link {% if '/admin-panel/courses/' in request.path %}active-link{% endif %}">
                📚 Manage Courses
            </a>

            <a href="/admin-panel/settings/"
                class="sidebar-link {% if '/admin-panel/settings/' in request.path %}active-link{% endif %}">
                ⚙️ Settings
            </a>

            <a href="{% url 'logout' %}">Logout</a>



        </div>

        <!-- main layout ith  -->
        <div class="flex-grow-1 p-4" style="margin-left: 230px;">
            {% block content %}{% endblock %}
        </div>

    </div>

</body>

</html>