{% extends 'admins/base_admin.html'%}
{% block title %} edit student {% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="col-md-8 mx-auto">
        <div class="card shadow-sm border-0">
            <div class="card-body p-4">

                <h3 class="text-center mb-4 fw-bold text-primary">
                    Edit Student
                </h3>

                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h5 class="fw-bold">Account Information</h5>
                    {{ user_form.as_p }}

                    <hr>

                    <h5 class="fw-bold mt-3">Student Profile</h5>
                    {{ profile_form.as_p }}

                    <!-- {% if profile_form.instance.profile_image %}
                    <img src="{{ profile_form.instance.profile_image.url }}" width="100" class="mb-2 rounded">
                    {% endif %} -->

                    <button class="btn btn-success w-100 fw-bold mt-3">
                        Save Changes 
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}