{% extends "admins/base_admin.html" %}

{% block title %}Manage Students{% endblock %}
{% block content %}


<h2 class="mb-4">Manage Students</h2>
<a class="btn btn-primary" href="{% url 'add_student' %}">Add student</a>

<form method="GET" class="mb-3 mt-3">
    <input type="text" name="value" value="{{ value }}" class="form-control" placeholder="Search by username...">
</form>

<table class="table table-bordered table-striped">
    <thead class="table-dark">
        <tr>
            <th>#</th>
            <th>Username</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for student in students %}
        <tr>
            <!-- <td>{{ student.id }}</td> -->
            <td>{{ forloop.counter }}</td>
            <td>{{ student.username }}</td>
            <td>{{ student.email }}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="{% url 'view_student' student.id %}">View</a>
                <a class="btn btn-sm btn-warning" href="{% url 'edit_student' student.id %}">Edit</a>

                <a class="btn btn-sm btn-danger" href="{% url 'delete_student' student.id  %}">
                    Delete
                </a>

            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4" class="text-center">No students found.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}